@model IEnumerable<OnlineBanking.Models.loan>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Admin/_LayoutPage1.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Customer_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MonthlyInstallment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Month)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Customer_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MonthlyInstallment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Month)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Loan_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Loan_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Loan_Id })
        </td>
    </tr>
}

</table>
