@model OnlineBanking.Models.AccountType

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Layout/_Layout.cshtml";

}

<h2>Details</h2>

<div>
    <h4>AccountType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Account_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account_Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Min_Balance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Min_Balance)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Account_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
