@model OnlineBanking.Models.fundtransfer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Admin/_LayoutPage1.cshtml";
}

<h2>Details</h2>

<div>
    <h4>fundtransfer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Debit_Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Debit_Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Credit_Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Credit_Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customer.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer.FirstName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FundTransferId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
